/* Global Reset + Background Setup */
body,
html,
#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #000000 10%, #05005b 45%, #0090d8 80%);
  animation: gradient 12s ease infinite;
  background-size: 250% 200%;
  background-attachment: fixed; /* optional: keeps background steady while scrolling */
  color: #ffffff;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Animated Gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.master-app {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-image-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d2vlabs-title {
  width: 100%;
  filter: drop-shadow(0 0 2px #ffffff);
  opacity: 0;
  animation: fadeUp 1.2s ease-out 2s forwards;
}

.mission-section {
  padding: clamp(6vh, 10vh, 15vh) 2rem;
  display: flex;
  justify-content: center;
}

.innovations-corporations-buttons-section {
  padding: clamp(4vh, 8vh, 12vh) 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.innovations-corporations-title {
  font-family: "Orbitron", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
}

.innovations-corporations-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.innovator-button,
.corporation-button {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: white;
  border-radius: 30px;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.innovator-button span,
.corporation-button span {
  transition: filter 0.3s ease;
}

.innovator-button:hover span,
.corporation-button:hover span {
  filter: drop-shadow(0 0 10px #ffffff);
}

/* Clicked (active) state */
.innovator-button.clicked,
.corporation-button.clicked {
  border: 5px solid #ffcc00;
  filter: drop-shadow(0 0 10px #ffcc00);
}


/* MOBILE DEVICE */
@media (max-width: 768px) {
  .hero {
    height: 100dvh;
    margin:0;
  }

  .title-image-container {
    width: 80%;
  }

  .d2vlabs-title {
    width: 100%;
    font-size: 1.5rem;
  }

  .mission-section {
  padding-bottom:10%;
}

  .innovations-corporations-title {
  margin: 0;
}
}