.master-mission-statement{
  width: 75%;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.5rem;

  .title-mission{
    font-family: "Orbitron", sans-serif;
    text-align: center;
  }
}


/* RESPONSIVE PORTIONS */

/* MOBILE DEVICE */
@media (max-width: 768px) {
  .master-mission-statement {
    width: 90%;
    font-size: 1rem;

    .title-mission {
      font-size: 1.5rem;
    }
  }
}


/* TABLET DEVICE */
@media (min-width: 769px) and (max-width: 1024px) {
  .master-mission-statement {
    width: 85%; 
    font-size: 1.2rem;
    .title-mission {
      font-size: 1.8rem;
    }
  }
}
